/******Element Selectors*****/
h1 {
    color: red;
}

/******Class Selectors*****/
.bacon {
    background-color: red;
}


.vegetable {
    background-color: green;
}

/******ID Selectors*****/
#heading {
    color: blue;

}